 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIZio-RTU</title>
    <meta name="description" content="A brief description of your webpage.">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>   
    <main>
        <div class = "index-section">
            <p style = "padding: 0.2em 2em; font-weight: bold; font-size: 20px; text-align: center;"><a href = "/" class = "home-index">WIZio-RTU</a></p>
            <hr style="border: 1px; border-style: solid; border-color: #293649;">
            <div class = "index-catalog">
                <a href = "/netconfig" class = "index-item"><i>🌐</i>Network<br>Configuration</a>
                <a href = "/io" class = "index-item"><i>⚡</i>I/O Control</a>
                <a href = "/analog_io" class = "index-item index-chosen"><i>📈</i>Analog I/O</a>
                <a href = "/serial" class = "index-item"><i>🔌</i>Serial Test</a>
                <a href = "/storage" class = "index-item"><i>💾</i>Storage Test</a>
                <a href = "/load-cell" class = "index-item"><i>⚖️</i>Load cell sensor</a>
                <a href = "/temp" class = "index-item"><i>🌡️</i>Thermocouple<br>temperature</a>
            </div>
        </div>
        </div>
        <div class = "main-content">
            <h1>Analog inputs and outputs</h1>
            <!-- Analog Inputs -->
            <div class = "section-block">
            	<p class = "section-heading">Analog Inputs (Channels 0-3)</p>
                <!-- Block Analog 0 -->
            	<div class = "analog-channel">
            		<div class = "analog-heading">
            			<p style = "margin: 5px 0px;">Channel 0</p>
            			<select id = "ai-mode-0">
            				<option value = "voltage">Voltage (0-10V)</option>
            				<option value = "current" selected>Current (0-20mA)</option>
            			</select>
            		</div>
                    <div class = "slider-progress-container">
                        <div class = "slider-track"></div>  
                        <div id= "ai-progress-0" class="slider-progress-bar" style="width: 0%"></div>
                        <span id = "ai-value-0" class = "progress-value">0.00 mA</span>
            	    </div>
                    <div class="progress-scale">
                        <span id="ai-min-0" class="scale-min">0mA</span>
                        <span id="ai-mid-0" class="scale-mid">10mA</span>
                        <span id="ai-max-0" class="scale-max">20mA</span>
                    </div>
                </div>
                <!-- Block Analog 1 -->
                <div class = "analog-channel">
                    <div class = "analog-heading">
                        <p style = "margin: 5px 0px;">Channel 1</p>
                        <select id = "ai-mode-1">
                            <option value = "voltage">Voltage (0-10V)</option>
                            <option value = "current" selected>Current (0-20mA)</option>
                        </select>
                    </div>
                    <div class = "slider-progress-container">
                        <div class = "slider-track"></div>  
                        <div id= "ai-progress-1" class="slider-progress-bar" style="width: 0%"></div>
                        <span id = "ai-value-1" class = "progress-value">0.00 mA</span>
                    </div>
                    <div class="progress-scale">
                        <span id="ai-min-1" class="scale-min">0mA</span>
                        <span id="ai-mid-1" class="scale-mid">10mA</span>
                        <span id="ai-max-1" class="scale-max">20mA</span>
                    </div>
                </div>
            </div>
            <footer style = "font-size: small;">
                <p>&copy; 2026 WIZnet H.K.</p>
            </footer>
        </div>
    </main>
    

    
    <script src="/js/analog.js" defer></script>
</body>
</html>