<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIZio-RTU</title>
    <meta name="description" content="A brief description of your webpage.">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>   
    <main>
        <div class = "index-section">
            <p style = "padding: 0.2em 2em; font-weight: bold; font-size: 20px; text-align: center;"><a href = "/" class = "home-index">WIZio-RTU</a></p>
            <hr style="border: 1px; border-style: solid; border-color: #293649;">
            <div class = "index-catalog">
                <a href = "/netconfig" class = "index-item"><i>🌐</i>Network<br>Configuration</a>
                <a href = "/io" class = "index-item"><i>⚡</i>I/O Control</a>
                <a href = "/analog_io" class = "index-item"><i>📈</i>Analog I/O</a>
                <a href = "/serial" class = "index-item"><i>🔌</i>Serial Test</a>
                <a href = "/storage" class = "index-item index-chosen"><i>💾</i>Storage Test</a>
                <a href = "/load-cell" class = "index-item"><i>⚖️</i>Load cell sensor</a>
                <a href = "/temp" class = "index-item"><i>🌡️</i>Thermocouple<br>temperature</a>
            </div>
        </div>
        <div class = "main-content">
            <h1>Storage Test</h1>
            <div class = "section-block serial">
                <p class = "section-heading">EEPROM data test</p>  
                <div style = "flex-direction: column;" class="send-area">
                    <textarea style = "height: 200px; box-sizing: border-box;"id="storage-input" placeholder="Send data..." data-sharkid="__0"></textarea>
                    <div style = "display: flex; flex-direction: row; column-gap: 7px;">
                        <button id = "storage-read" onclick = "onClickStorageReadBtn(this);">Read data</button>
                        <button id = "storage-write" onclick = "onClickStorageWriteBtn(this);">Write data</button>
                    </div>
                    <span style = "color: gray;"> Maximum 100 bytes supported </span>
                </div>
            </div>
            <footer style = "font-size: small;">
                <p>&copy; 2026 WIZnet H.K.</p>
            </footer>
        </div>
    </main>
    

    
    <script src="/js/storage.js" defer></script>
</body>
</html>